<template id="cgu">
    <main class="px-2 md:mx-auto py-2 md:my-8 container text-blue-dianne-500 flex flex-col items-center gap-2 md:gap-16">
        <div class="flex">
            <h2 class="text-xl md:text-5xl text-center">Conditions Générales d'Utilisation (CGU)</h2>
        </div>
        <div class="p-2 md:p-4 border bg-blue-dianne-500 rounded-lg w-full gap-4">
            <div class="bg-aqua-haze-500 rounded-lg p-2 leading-[32px]">
                    <section class="flex flex-col gap-4 p-4">
                        <div class="flex justify-center">
                            <h3 class="text-xl md:text-4xl">Conditions Générales d'Utilisation - My Easy Event</h3>
                        </div>
                        <span>Dernière mise à jour : 01/01/2025</span>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 1. Objet</h4>
                        <p>Les présentes Conditions Générales d’Utilisation (CGU) encadrent l’utilisation du site My Easy Event, qui permet aux utilisateurs de créer, gérer et participer à des événements. <br>
                            L’accès au site implique l’acceptation pleine et entière des présentes conditions.</p>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold">2. Accès au site</h4>
                        <p>Le site est accessible gratuitement à tout utilisateur disposant d’un accès à Internet. Certaines fonctionnalités nécessitent la création d’un compte personnel. <br>
                            L’utilisateur est responsable de la sécurisation de ses identifiants. En cas d’utilisation frauduleuse, il s’engage à prévenir l’administrateur dans les plus brefs délais.</p>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold">3. Règles de bonne conduite</h4>
                        <div>
                            <p>L’utilisateur s’engage à :</p>
                            <ul class="list-disc ml-6">
                                <li>utiliser le site de manière conforme à la loi et aux présentes CGU,</li>
                                <li>ne pas nuire au bon fonctionnement du site (tentatives de piratage, surcharges, spams…),</li>
                                <li>ne pas publier de contenus illicites, diffamatoires, violents, ou portant atteinte aux droits d’autrui.</li>
                            </ul>
                        </div>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold">4. Responsabilités des organisateurs et participants</h4>
                        <p>Les organisateurs et les participants s'engagent à :</p>
                        <ul>
                            <li>Les organisateurs sont responsables du contenu, des conditions et de l'exactitude des événements qu'ils publient.</li>
                            <li>Les participants sont invités à vérifier les informations avant de s’inscrire à un événement.</li>
                        </ul>
                        <p>En cas d’annulation d’un événement, les participants sont informés automatiquement avec les informations pour contacter l’organisateur.</p>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold">5. Modification des CGU</h4>
                        <p>Les présentes CGU peuvent être modifiées à tout moment. Les utilisateurs sont tenus de vérifier la date de la dernière mise à jour du document.</p>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4">
                        <h4 class="font-bold">6. Contact</h4>
                        <p>Pour toute question relative au fonctionnement du site ou à ces CGU, un <a href="/myeasyevent-front/contact" data-spa class="text-blue-dianne-500"><strong>formulaire de Contact</strong></a> est mis à disposition.</p>
                    </section>
                </div>
            </div>
        </div>
    </main>
</template>