<template id="footer">
    <footer class="bg-blue-dianne-500 px-4 py-2 flex flex-col items-center relative md:px-8 md:py-4">
        <div class="flex flex-col md:flex-row w-full items-start md:items-center justify-between gap-4">
            <div class="w-12 h-12 flex-shrink-0 relative z-10 mb-2 md:mb-0 self-start md:self-center">
                <img src="../asset/img/logo.png" alt="Logo My Easy Event" class="rounded-lg">
            </div>
            <nav class="mb-2 md:mb-0 self-start md:self-center">
                <ul class="flex flex-col md:flex-row items-start md:items-center gap-4">
                    <li>
                        <a data-spa href="/contact">Contact</a>
                    </li>
                    <li>
                        <a data-spa href="/cgu">Conditions d'utilisations</a>
                    </li>
                    <li>
                        <a data-spa href="/privacy-policy">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a data-spa href="/mentions-legales">Mentions légales</a>
                    </li>
                </ul>
            </nav>
                <div class="flex mt-2 md:mt-0 mx-auto md:mx-0">
                <ul class="flex gap-2">
                    <li>
                        <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Facebook">
                            <img src="../asset/svg/facebook.svg" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Twitter">
                            <img src="../asset/svg/twitter.svg" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram">
                            <img src="../asset/svg/insta.svg" alt="Instagram">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-full mt-8 pt-8 border-t-2 border-burnt-sienna-500">
            <p class="text-center text-white">© <span id="year"></span> My Easy Event. Tous droits réservés.</p>
        </div>
    </footer>
</template>