<div class="row">
    <div class="col-md-8">
        <h1 data-translate="ChekYourEmail"><span class="skeleton-box" style="width:100%"></span></h1>
        <p>
            <span data-translate="checkMailLine1"><span class="skeleton-box" style="width:50%"></span></span><br />
            <span data-translate="checkMailLine2"><span class="skeleton-box" style="width:40%"></span></span>
        </p>
        <p>
            <span data-translate="checkMailLine3"><span class="skeleton-box" style="width:30%"></span></span>
        </p>
    </div>
    <div class="col-md-4">
        <img src="img/svgs/1/presetTablette.svg" alt="" class="img-fluid">
    </div>
</div>