<template id="mentions-legales">
        <main class="px-2 md:mx-auto py-2 md:my-8 container text-blue-dianne-500 flex flex-col items-center gap-2 md:gap-16">
        <div class="flex">
            <h2 class="text-xl md:text-5xl text-center">Mentions légales</h2>
        </div>
        <div class="p-2 md:p-4 border bg-blue-dianne-500 rounded-lg w-full gap-4">
            <div class="bg-aqua-haze-500 rounded-lg p-2 leading-[32px]">
                    <section class="flex flex-col gap-4 p-4">
                        <div class="flex justify-center">
                            <h3 class="text-xl md:text-4xl">Mentions Légales – My Easy Event</h3>
                        </div>
                        <span>Dernière mise à jour : 01/01/2025</span>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 1. Editeur du site</h4>
                        <ul class="list-disc ml-6">
                            <li>Nom : Rémi Delgutte</li>
                            <li>Adresse e-mail : delgutte.remi@hotmail.com</li>
                            <li>Statut : Etudiant</li>
                            <li>Localité : Tournai, Belgique</li>
                        </ul>
                        <p>Ce site est un projet personnel visant à faciliter la gestion et la participation à des événements en ligne.</p>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold">2. Hébergement du site</h4>
                        <p>Le site est hébergé par :</p>
                        <ul>
                            <li><a href="https://www.ovh.com" blank target="_blank" class="text-blue-dianne-500 font-bold">OVH</a></li>
                            <li>Adresse : 2 Rue Kellermann, 59100 Roubaix, France</li>
                        </ul>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold">3. Propriété intellectuelle</h4>
                        <div>
                            <p>Tous les éléments du site (textes, logos, images, éléments graphiques, structure du site, code source, etc.) sont protégés par le droit d’auteur et sont la propriété exclusive de leur auteur, sauf mention contraire. <br>
                                Toute reproduction, représentation ou exploitation partielle ou totale du site ou de son contenu, sans autorisation préalable, est strictement interdite.
                            </p>
                        </div>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold">4. Données à caractère personnel</h4>
                        <p>La navigation sur le site peut entraîner la collecte de données personnelles. Ces données sont traitées conformément au RGPD (UE 2016/679) et à la loi belge du 30 juillet 2018 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel.</p>
                        <p>Pour plus d'informations, consultez notre <a href="/privacy-policy" data-spa class="text-blue-dianne-500"><strong>politique de confidentialité</strong></a>.</p>
                    </section>
                    <section class="flex flex-col gap-4 pt-4 pb-8 px-4">
                        <h4 class="font-bold">5. Responsabilités</h4>
                        <p>L’éditeur du site s’efforce de fournir des informations aussi précises que possible. Toutefois, il ne peut être tenu responsable des erreurs, des omissions, ou de l’indisponibilité temporaire du site.</p>
                    </section>
                </div>
            </div>
        </div>
    </main>
</template>
