<template id="privacy-policy">
        <main class="px-2 md:mx-auto py-2 md:my-8 container text-blue-dianne-500 flex flex-col items-center gap-2 md:gap-16">
        <div class="flex">
            <h2 class="text-xl md:text-5xl text-center">Politique de confidentialité</h2>
        </div>
        <div class="p-2 md:p-4 border bg-blue-dianne-500 rounded-lg w-full gap-4">
            <div class="bg-aqua-haze-500 rounded-lg p-2 leading-[32px]">
                    <section class="flex flex-col gap-4 p-4">
                        <div class="flex justify-center">
                            <h3 class="text-xl md:text-4xl">Conditions Générales d'Utilisation - My Easy Event</h3>
                        </div>
                        <span>Dernière mise à jour : 01/01/2025</span>
                        <p>La présente politique de confidentialité décrit comment My Easy Event collecte, utilise et protège les données personnelles des utilisateurs de sa plateforme de gestion d’événements, accessible à l’adresse <a href="/accueil" data-spa class="text-blue-dianne-500" target="_blank"><strong>www.myeasyevent.be</strong></a>.</p>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 1. Données collectées</h4>
                        <p>Nous collectons les données suivantes lorsque vous utilisez notre site :</p>
                        <ul class="list-disc ml-6">
                            <li>Informations personnelles : nom, prénom, e-mail, date de naissance.</li>
                            <li>Données techniques : adresse IP, type d’appareil utilisé (mobile, ordinateur), système d’exploitation (Windows, macOS, Android…).</li>
                            <li>Données de localisation : géolocalisation avec votre consentement, via une demande explicite (popup).</li>
                            <li>Données d’activité : date et heure de connexion, interactions avec le site.</li>
                        </ul>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 2. Méthodes de collecte</h4>
                        <p>Les données sont collectées par :</p>
                        <ul class="list-disc ml-6">
                            <li>Formulaires : lors de l’inscription à un événement ou de la création de compte.</li>
                            <li>Connexion à l’espace utilisateur : pour des raisons de sécurité (prévention des attaques par force brute).</li>
                            <li>Popup de géolocalisation : uniquement si vous acceptez de partager votre position.</li>
                            <li>Outils d’analyse : via des services tiers, comme Google Maps (géolocalisation) ou SendGrid (e-mails transactionnels).</li>
                        </ul>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 3. Finalités de la collecte</h4>
                        <p>Vos données sont utilisées pour :</p>
                        <ul class="list-disc ml-6">
                            <li>Gérer votre compte utilisateur.</li>
                            <li>Envoyer des e-mails de confirmation ou d'information (par exemple, en cas d'annulation d’un événement).</li>
                            <li>Permettre aux organisateurs d'événements de s'assurer que les participants remplissent certaines conditions (ex. : majorité).</li>
                            <li>Améliorer l'expérience utilisateur (notamment grâce à la géolocalisation pour afficher les événements à proximité).</li>
                            <li>Garantir la sécurité de la plateforme.</li>
                        </ul>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 4. Destinataires des données</h4>
                        <ul class="list-disc ml-6">
                            <li>L’administrateur du site a accès à vos nom, prénom et adresse e-mail.</li>
                            <li>L’organisateur d’un événement auquel vous participez peut consulter vos nom et prénom uniquement.</li>
                        </ul>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 5. Durée de conservation</h4>
                        <p>Vos données sont conservées pendant la durée nécessaire aux finalités pour lesquelles elles ont été collectées, sauf si une demande de suppression est faite (voir point 7).</p>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 6. Vos droits</h4>
                        <p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez des droits suivants :</p>
                        <ul class="list-disc ml-6">
                            <li>Accès et rectification : vous pouvez à tout moment consulter et modifier vos informations personnelles.</li>
                            <li>Désactivation du compte : si vous désactivez votre compte, vos données deviennent inaccessibles, même pour l’administrateur, mais restent stockées de manière sécurisée.</li>
                            <li>Suppression définitive : vous pouvez demander la suppression complète de vos données via notre <a href="/contact" data-spa class="text-blue-dianne-500"><strong>formulaire de contact.</strong></a></li>
                        </ul>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4 border-b border-burnt-sienna-500">
                        <h4 class="font-bold"> 7. Cookies et services tiers</h4>
                        <p>Nous utilisons :</p>
                        <ul class="list-disc ml-6">
                            <li>Google Maps : pour  la localisation des événements.</li>
                            <li>SendGrid : pour l’envoi sécurisé d’e-mails (confirmation d’inscription, informations importantes…).</li>
                        </ul>
                        <p>Ces services peuvent collecter certaines données conformément à leurs propres politiques de confidentialité.</p>
                    </section>
                    <section class="flex flex-col gap-2 md:gap-4 pt-4 pb-8 px-4">
                        <h4 class="font-bold"> 8.  Sécurité</h4>
                        <p>Nous mettons en œuvre des mesures techniques et organisationnelles pour garantir la sécurité de vos données, notamment contre les accès non autorisés et les tentatives de piratage (ex. : détection d’adresses IP suspectes à la connexion).</p>
                    </section>
                </div>
            </div>
        </div>
    </main>
</template>