
<div class="flex flex-col gap-4 bg-aqua-haze-500 rounded-lg p-6 text-center">
    <!-- Icône -->
    <div class="flex justify-center">
        <img src="{{svgPath}}" alt="{{label}}" class="w-12 h-12">
    </div>
    
    <!-- Nombre -->
    <div class="text-xl text-blue-dianne-500">
        {{value}}
    </div>
    
    <!-- Ligne séparatrice -->
    <div class="border-t border-burnt-sienna-500"></div>
    
    <!-- Label -->
    <h2 class="text-xl text-blue-dianne-500">
        {{label}}
    </h2>
</div>
